@model IEnumerable<GymSystem2.Models.Plan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/views/shared/AdminLayout.cshtml";
}

<h1>Index</h1>

 

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Planname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Trainer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Planname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (item.Trainer?.Profile?.Fname != null)
                    {
                        @item.Trainer.Profile.Fname
                    }
                    else
                    {
                        <span>No Name</span>
                    }
                </td>

                <td>
                  
                    <a asp-action="Details" asp-route-id="@item.Planid">Details</a>  
                    
                </td>
            </tr>
        }
    </tbody>
</table>
