@model IEnumerable<GymSystem2.Models.Subscription>

@{
    ViewData["Title"] = "Index";
    Layout = "~/views/shared/TrainerLayout.cshtml";

}

<h2 style="margin-left:5px;margin-top:18px">Subscriptions</h2>


<table class="table" style="margin-left:15px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fromdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Todate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fromdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Todate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.Profile.Fname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plan.Planname)
                </td>
                <td>

                    <a asp-action="SubscriptionsDetails" asp-route-id="@item.Subscriptionid">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>
